<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title><h1>Create Account</h1></ion-card-title>
      <ion-card-subtitle><h6>Creat your account and start <br>manage your finances</h6></ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="businessicon"> <ion-icon name="person-add-outline"></ion-icon>  &nbsp;
        Business</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="personalicon"> <ion-icon name="person-outline" color="#ABB3BB;"></ion-icon>  &nbsp;
        Personal</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-grid>
      <ion-row>
      <ion-col>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input type="number" placeholder="+0  |  phone number"></ion-input>
    </ion-item></ion-col></ion-row>
    <ion-row>
      <ion-col>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input type="text" placeholder="enter your address"></ion-input>
    </ion-item></ion-col></ion-row>
    <ion-row>
      <ion-col>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="enter your email"></ion-input>
    </ion-item></ion-col></ion-row>
    <ion-row>
      <ion-col>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="enter your password"></ion-input><ion-icon name="eye-off-outline" slot="end"></ion-icon>
    </ion-item></ion-col></ion-row>
    <ion-row>
      <ion-col>
    <ion-item>
      <ion-label position="stacked">Retype-Password</ion-label>
      <ion-input type="password" placeholder="enter your retype-password"></ion-input><ion-icon name="eye-off-outline" slot="end"></ion-icon>
    </ion-item></ion-col></ion-row>

    <ion-row>
      <ion-col>
      <ion-checkbox></ion-checkbox> &nbsp; 
      <ion-label class="p">Accept term of Services</ion-label>
</ion-col></ion-row>

     <br>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="signup" size="large">Sign Up</ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="ion-text-center">
          <ion-label class="p1"> Already Have an Account?</ion-label><ion-label style="color:#F39200 ;font: normal normal bold 12px/14px DM Sans;"> Sign In</ion-label>
           </div>
</ion-list>


</ion-card-content>
</ion-card>

</ion-content>
