<ion-header [translucent]="true" class="card">
<ion-toolbar>
  <ion-title>
    REGISTER
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content >
<ion-card class="card">
  <ion-card-header>
    <ion-card-title><h1>Create Account</h1></ion-card-title>
    <ion-card-subtitle><p>Create your account and start trading</p></ion-card-subtitle>
  
  </ion-card-header>
<br>
  <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="male">&nbsp;&nbsp;&nbsp;&nbsp; <ion-icon name="male-outline" ></ion-icon>  &nbsp;
          Male</ion-button>
        </ion-col>

<ion-col>
  <ion-button class="female"> 
 <ion-icon name="female-outline" ></ion-icon>  &nbsp;
    Female
  </ion-button>
  
</ion-col>  
</ion-row>
    </ion-grid>
   



    <ion-list class="card">
  <ion-grid>
    <ion-row>
      <ion-col>

      <ion-item lines="none">
        
        <ion-input type="text" placeholder="enter your full name"></ion-input>
      </ion-item>
<br>
      <ion-item lines="none">
        
        <ion-input type="email" placeholder="enter your email"></ion-input>
      </ion-item><br>
      <ion-item lines="none">
        
        <ion-input type="password" placeholder="enter your password"></ion-input><ion-icon name="eye-off-outline" slot="end" style="color: #F4F8FC;"></ion-icon>
      </ion-item><br>
      <ion-item lines="none">
        
        <ion-input type="password" placeholder="enter your confirm password"></ion-input><ion-icon name="eye-off-outline" slot="end" style=" color: #F4F8FC;"></ion-icon>
      </ion-item><br>
    </ion-col>  
  </ion-row>
      </ion-grid>
      </ion-list>

     <ion-grid>
       <ion-row>
         <ion-col>
          
        <ion-checkbox ></ion-checkbox>  &nbsp;
        <ion-label style="color: #F59873;font: normal normal normal 12px/14px Nunito Sans SemiBold;"> Accept Term Of Services?</ion-label>  
       
        </ion-col>
        </ion-row>
   
      <br><br>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  class="signup">Sign Up</ion-button></ion-col></ion-row></ion-grid><br><br>
      <div class="ion-text-center">
       Have an Account?<ion-label style="color:#F69E7B ;"> Sign In</ion-label>
      </div>
  </ion-card-content>
</ion-card>






</ion-content>