.card
{
    background-color:#FFFFFF;
    font-family: "adobe-clean", sans-serif;
}
h1
{
 text-align: center;
font: normal normal bold 24px/36px DM Sans;
letter-spacing: 0px;
color: #102C56;
opacity: 1;
}
h6{
    top: 148px;
    text-align: center;
    font: normal normal normal 14px/22px DM Sans;
    letter-spacing: 0px;
    color: #8A94A4;
    opacity: 1;
}
.item{
    border: 1px solid #EFF2F6;
  
    border-radius: 5px;
    font: normal normal normal 14px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #BEC4CC;
    opacity: 1;
width: 327px;

}
.p{
    font: normal normal normal 12px/14px Nunito Sans SemiBold;
letter-spacing: 0px;
color: #F39200;
opacity: 1;
}

.signup{
    text-align: right;
    height: 52px;width: 327px;
font: normal normal normal 14px/34px DM Sans Medium;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
--background	:#F39200 0% 0% no-repeat padding-box;
box-shadow: 0px 15px 80px #F3920026;
--border-radius: 10px;
}
.doctor{
    --background: #74B973 0% 0% no-repeat padding-box;
box-shadow: 0px 15px 80px #184B181A;
border-radius: 10px;
color: #FFFFFF;
font: normal normal normal 14px/16px Nunito Sans;
opacity: 1;
}
.patient
{
    --background: #DFF2DE 0% 0% no-repeat padding-box;
    margin-left:27px;
border-radius: 10px;
color: #74B973;
font: normal normal normal 14px/16px Nunito Sans;
}
ion-label{
    font: normal normal normal 12px/30px DM Sans;
letter-spacing: 0px;
color: #8A94A4;
}
ion-checkbox{
    border: 1px solid #EFF2F6;
border-radius: 5px;
}